[prd]
tankian.mkh    ansible_user=${TANKIAN_USER_LOGIN}    ansible_password=${TANKIAN_USDER_PASSWORD}    CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN_TANKIAN}    labels='[ "ansible_controller", "rabbitmq" ]'
trujillo.mkh   ansible_user=${TRUJILLO_USER_LOGIN}   ansible_password=${TRUJILLO_USDER_PASSWORD}   CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN_TRUJILLO}   labels='[ "ansible_controller" ]'
chuck.mkh      ansible_user=${CHUCK_USER_LOGIN}      ansible_password=${CHUCK_USDER_PASSWORD}      CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN_CHUCK}      labels='[ "ansible_controller" ]'
