[dev]
hostinger-vps    ansible_user=${HOSTINGERVPS_USER_LOGIN}    ansible_password=${HOSTINGERVPS_USER_PASSWORD}    CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN_HOSTINGERVPS}    labels='[ "ansible_controller" ]'
