---
- name: "Group Ansible Controller hosts"
  hosts: "all"

  tasks:

    - name: "Group hosts by label"
      group_by:
        key: "label_ansible_controller"
      when: |
        "ansible_controller" in hostvars[inventory_hostname]["labels"]

- name: "Setup Ansible runtime on remote nodes"
  hosts: "label_ansible_controller"
  become: true
  tasks:
    - name: "Ensure the ansible-setup.sh script is executable"
      file:
        path: "{{ lookup('env', 'ANSIBLE_PROJECT') }}/ansible-setup.sh"
        mode: "0755"
        state: "file"

    - name: "Remove the ansible-setup.log file if it exists"
      file:
        path: "/tmp/ansible-setup.log"
        state: "absent"
      become: true

    - name: "Execute the ansible-setup.sh script as root"
      command: "{{ lookup('env', 'ANSIBLE_PROJECT') }}/ansible-setup.sh"
      register: "setup_script_output"
      become: true

    - name: "Print the output of the setup script"
      debug:
        var: "setup_script_output.stdout"

    - name: "Print the error output of the setup script if any"
      debug:
        var: "setup_script_output.stderr"
      when: |
        setup_script_output.stderr != ""
